.navbar-toggler {
    border: none;
  }
  .navbar-toggler.x:focus {
    outline: none;
  }
  .navbar-toggler[aria-expanded=true] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
  }
  .navbar-toggler[aria-expanded=true] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .navbar-toggler[aria-expanded=true] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
  }
  .navbar-toggler .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 3.5px;
  }
  .navbar-toggler .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .navbar-toggler .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .collapse {
    position: fixed;
    right: 10%;
 }

 .navbar-nav a {
   text-decoration: none;
 }
 .nav-item a {
     font-size: 18px;
     font-weight: 500;
     margin-left: 3.5px;
 }
 .nav-item a span {
    padding-left: 10px;
 }

.navbar {
	padding-bottom: 0.2rem;
}

 @media (max-width:900px) {
    .collapse {
        position: relative;
        right: 0;
     }
     .active {
        border-bottom: none;
    }
 }

.dropdown-menu a {
  margin-left: 0;
  font-size: 16px;
  font-weight: 450;
}

@media only screen and (min-width: 900px) and (max-width: 2000px) {
  .active {
    border-bottom: 3.5px solid #ea4335;
}
.activeteam {
  border-bottom: 3.5px solid #4285f4;
}
.activeevent {
  border-bottom: 3.5px solid #0f9d58;
}
.activeabout {
  border-bottom: 3.5px solid #fbbc04;
}
.activefaq {
  border-bottom: 3.5px solid #ea4335;
}
  
}