.coll_fix {
    position: relative;
    right: 0;
}

.card-body {
    color: white;
    background-color: transparent;
    border: none; 
}
.faq:nth-child(odd) {
    border: 2px solid white;
  }
  .faq:nth-child(even) {
    border: 2px solid rgb(182, 182, 182);
  }